<div class="row">
  <%= form_for ([@product, @product.reviews.build]) do |f| %>
  <div class="col-md-10 <%= current_user.present? == true ? "row" : "hidden" %> ">
    <p> <%= f.text_area :description, placeholder: "Tell us what you think about the item!"  %> </p>
  </div>
  <div class="col-md-2 right-review">
    <p> <%= f.select :rating, [[0, 0], [1, 1], [2, 2], [3, 3], [4, 4], [5, 5]], {}, {class:"form-control form-control-lg"} %> </p>
    <p> <%= f.submit class: "btn btn-primary" %> </p>
  </div>
  <% end %>
</div>
<div class="row review-row">
  <% @product.reviews.reverse.each do |review| %>
    <% if review.description.present? %>
      <div class="col-md-6 reviews">
        <dl class="dl-horizontal">
          <dt>Description</dt>
          <dd><%= review.description %></dd>
          <dt>Rating </dt>
          <dd>
            <% review.rating.to_i.times do  %>
            <span class="glyphicon glyphicon-star">  </span>
            <% end %>
            <% review.blank_stars.to_i.times do  %>
             <span class="glyphicon glyphicon-star-empty">  </span>
            <% end %>
          </dd>
          <dt>Date</dt>
          <dd><%= review.created_at.strftime("%b %d, %Y") %></dd>
          <dt>
          <% if current_user.present? && review.user_id == current_user.id %>
            <%= form_for [@product, review], method: :delete  do |f| %>
            <%= f.button "Delete", class: "btn btn-primary"  %>
            <% end %>
          <% end %>
          </dt>
        </dl>
      </div>
    <% end %>
  <% end %>
</div>
