<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
  function initialize() {
    var location = {lat: <%= @user.latitude %>, lng: <%= @user.longitude %>}
    var map = new google.maps.Map(document.getElementById('map'), {
      center: location,
      zoom: 10
    });

    var marker = new google.maps.Marker({
      position: location,
      map: map
    });

    infoWindow.open(map, marker);
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div class="container-fluid ">
  <div class="row">
    <div class="col-md-3">
      <div class="center">
        <%= image_tag image_url("avatar#{@user.id}.png"), class: "img-thumbnail" %>
      </div>
      <div class="panel panel-default">

        <div class="panel-heading">Profile Details</div>

        <div class="panel-body">

          <ul class="sidebar-list list-unstyled">
            <li>Email Address
              <ul>
                <li><small class="text-muted"><%= @user.email %></small></li>
              </ul>
            </li>
            <li>Phone Number
              <ul>
                <li><small class="text-muted"><%= @user.phone %></small></li>
              </ul>
            </li>
            <li>Address
              <ul>
                <li><small class="text-muted"><%= @user.address %></small></li>
              </ul>
            </li>
            <% if @card.blank? %>
                <li></li>
            <% else @card %>
            <li>Credit Card
              <ul>
                <li><small class="text-muted">XXXX XXXX XXXX <%= @card.last4 %></small></li>
              </ul>
            </li>
            <% end %>
          </ul>

        </div>

        <div class="panel-heading">
          <%= link_to "Edit Profile", edit_user_registration_path, class: "badge badge-pill badge-info" %>
          <% if @card.blank? %>
            <%= link_to "Add Payment Method", payment_method_path, class: "badge badge-pill badge-info" %>
          <% else @card %>
            <!-- <%= link_to "Edit Payment Method", payment_method_path, class: "badge badge-info" %> -->
          <% end %>
          <% if @product.blank? %>
            <%= link_to "Add listing", new_product_path, class: "badge badge-pill badge-info" %>
          <% else %>
            <button class="badge badge-pill badge-danger" id="lender">My listing</button>
          <% end %>
          <% if @booking.blank? %>
          <% else %>
            <button  class="badge badge-pill badge-success"id="renter">Rented</button>
          <% end %>
        </div>

        <!-- GOOGLE MAP -->
        <div id="map" style="width: 100%; height: 300px"></div>

      </div>
    </div>
    <div class="col-md-9">

      <div class="row" id="lender-row">
        <div class="col-md-12">
          <div class="panel panel-default">

            <div class="panel-heading">
              <h2>Listings</h2>
            </div>

            <div class="lender-listing">

              <% @products.each do |product| %>
              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-default  panel--styled">
                    <div class="panel-body">
                      <div class="col-md-5">
                        <%= image_tag product.image.url(:medium), class: "card-img-left" %>
                      </div>
                      <div class="col-md-5">
                        <h2 class="card-text"><%= product.name %></h2>
                        <p class="card-text"><%= product.description %></p>
                        <p class="card-text">Price per day Cad$ <%= product.price %>.00</p>
                      </div>
                      <div class="col-md-2">
                        <%= button_to " edit ", edit_product_path(product.id), :method=> :get, class: "btn btn-primary btn-block " %>
                        <%= button_to "delete", product_path(product.id), :method=> :delete, class: "btn btn-danger btn-block " %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
            </div>

          </div>
        </div>
      </div>

        <div class="row" id="renter-row">
          <div class="col-md-12">
            <div class="panel panel-default">

              <div class="panel-heading">
                <h2>Renting</h2>
              </div>
                 <div class="renter-listing">

                    <% @booking.each do |booking| %>
                    	<div class="row">
                    		<div class="col-md-12">
                    			<div class="panel panel-default  panel--styled">
                    				<div class="panel-body">
                  						<div class="col-md-5">
                                <%=image_tag booking.product.image.url(:medium), class: "card-img-left" %>
                            	</div>
                              <div class="col-md-5">
                                <h2 class="card-text"><%= booking.product.name %></h2>
                                <p class="card-text"><%= booking.product.description %></p>
                                <p class="card-text">Price per day Cad$ <%= booking.total %>.00</p>
                                <p class="card-text">Booking start date <%= booking.from_date %></p>
                                <p class="card-text">Booking end date <%= booking.to_date %></p>
                              </div>
                              <div class="col-md-2">
                                <%= button_to " edit ", root_path, class: "btn btn-primary btn-block" %>
                                  <%= button_to "cancel", booking_path(booking_id), :method=> :delete, class: "btn btn-danger btn-block " %>
                                <% if @card.blank? %>
                                <%= button_to "Pay on Pickup",root_path, class: "btn btn-success btn-block" %>
                                <% else @card %>
                                <%= form_tag perform_stripe_charge_path, class: "stripe" do  %>
                                  <script
                                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                                    data-amount="<%= booking.total * 100 %>"
                                    data-description="Thanks for renting <%= booking.product.name %>"
                                    data-locale="auto"
                                    data-currency="cad">
                                  </script>
                                  <% end %>
                                <% end %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
    $("#lender").click(function(){
        $("#lender-row").toggle(1000);

    });
    $("#renter").click(function(){
      $("#renter-row").toggle(1000);
    });
});
</script>
