
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <header class="page-header">
          <h1>Products List</h1>
        </header>
        <%  @results.each do |product| %>
        <div class="panel-heading">
          <h2 class="card-text"> On <%= product.category.name %> Category</h2>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default  panel--styled">
              <div class="panel-body">
                <div class="col-md-3">
                  <%= image_tag product.image.url(:medium), class: "card-img-left" %>
                </div>
                <div class="col-md-7">
                  <h3><%= product.name %></h3>
                  <p class="card-text"><%= product.description %></p>
                </div>
                <div class="col-md-2">
                  <p class="card-text">Price per day</br>Cad$ <%= product.price %>.00</p>
                </div>
              </div>
              <div class="panel-footer">
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
