<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">

        <div class="panel-heading">
          <h2><%= @product.name %></h2>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default  panel--styled">
              <div class="panel-body">
                <div class="col-md-4">
                  <%= image_tag @product.image.url(:medium), class: "card-img-left" %>
                </div>
                <div class="col-md-6">
                  <p class="card-text"><%= @product.description %></p>
                  <p class="card-text">Price per day Cad$ <%= @product.price %>.00</p>
                </div>
              </div>
            </div>
          </div>
          <%= render 'bookings/form' %>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- <div class='row'>
<div class="col-md-12">
<%= render 'partials/review' %>
</div>
</div> -->
