<!DOCTYPE html>
<html>
  <head>
    <title>Rentals</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/hot-sneaks/jquery-ui.css">
  </head>
  <body>

    <%= render 'partials/navbar' %>

    <div class="container-fluid">
      <%= render 'partials/message' %>
      <%= yield %>
    </div>

  </body>
</html>
